<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
  <title>等級毎考課パターン登録</title>
  <style>
.btn {
	background-color: #68ab7c;
	border: none;
	color: black;
	padding: 7px 14px;
	text-align: center;
	font-size: 15px;
	transition: 0.3s;
	border-radius: 4px;
}

.txtbox {
	width: 170px;
	height: 34px;
	padding: 8px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 15px;
}

.combo {
	width: 170px;
	height: 34px;
	padding: 8px 10px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 15px;
}

.chk {
	display: block;
	position: relative;
	margin-left: 400px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  height: 220px; /* Should be removed. Only for demonstration */
}

.left{
width: 40%;
}

.right{
width: 60%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* button design */
#btn_reg{
width:100px;
padding:10px;
border:none;
background:red;
border-radius:5px;
margin:10px;
text-align:center;
}
#btn_reg:hover {
background-color: #555;
color: white;
}

#btn_delete{
width:100px;
padding:10px;
border:none;
background:#336B6B;
border-radius:5px;
margin:10px;
text-align:center;
}
#btn_delete:hover {
background-color: #555;
color: white;
}



/* table design */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
    font-family: Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 8px 16px;
    border: 1px solid #ccc;
}
th {
    background: #4c6491;
    color: #ffffff;
    position: sticky;
    top: 0;
}
tr:nth-child(odd){
  background-color: #c1e4f7;
  color: #0a0a0a;
}

.zui-table {
    border: none;
    border-right: solid 1px #DDEFEF;
    border-collapse: separate;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: none;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}
.zui-table tbody td {
    border-bottom: solid 1px #DDEFEF;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}
.zui-wrapper {
    position: relative;
    border:solid;
    border-color:gray;
    margin-right:120px;
}

.zui-scroller {
    margin-left: 141px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
    width: 87%;
}

.zui-table .zui-sticky-col {
    border-left: solid 1px #DDEFEF;
    border-right: solid 1px #DDEFEF;
    left: 0;
    position: absolute;
    top: auto;
    width: 120px;
}

</style>
</head>

<body>
<div>
  <h3 style="margin-left: 550px;font-family: Arial, sans-serif;font-size: 25px;height:25px;">等級毎考課パターン登録</h3>
  <hr style="width:90%;margin-left:70px;padding:1px;border-style: inset;"><br>
</div>
<div style="margin-left: 70px;">

  <!--in GradeRegistrationController-->
  <form action="#" th:action="@{/updateGrade}" th:object="${editGrade}" method="post">

    <input type="text" th:field="*{grade_id}" name="grade_id" style="margin-left:50px;display:none">

    <label style="margin-left:50px;">考課パターン</label>&nbsp;&nbsp;&nbsp;
    <input type="text" th:field="*{appraisal_pattern}" name="appraisal_pattern" class="txtbox" style="margin-left:50px;" readonly ><br><br>

    <label style="margin-left:90px;">職制</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" th:field="*{officer}" name="officer" class="txtbox" style="margin-left:50px;" readonly ><br><br>

    <label style="margin-left:90px;">等級</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" th:field="*{grade}" name="grade" class="txtbox" style="margin-left:50px;" readonly ><br><br>

    <!--Grade-->
    <h5 style="font-family: Arial, sans-serif;font-size: 18px;height:10px;margin-left: 50px;color:red">成績</h5>
    <div class="row">
      <div class="column" style="margin-left: 50px;">
        <div class="row">
          <div class="column">
            <label style="line-height:34px">成績１(項目)</label><br><br>
            <label style="line-height:34px">成績１(評価の着眼点)</label><br><br>
            <label style="line-height:34px">成績１(ウェイント昇給)</label><br><br>
            <label style="line-height:34px">成績１(ウェイント賞与)</label>
          </div>
          <div class="column">
            <input type="text" th:field="*{grade1_item}" name="grade1_item" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{grade1_evaluation_points}" name="grade1_evaluation_points" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{grade1_weight_salary_increase}" name="grade1_weight_salary_increase" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{grade1_weight_bonus}" name="grade1_weight_bonus" class="txtbox" style="margin-left:50px;"><br><br>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="row">
          <div class="column" style="margin-left:120px">
            <label style="line-height:34px">成績2(項目)</label><br><br>
            <label style="line-height:34px">成績2(評価の着眼点)</label><br><br>
            <label style="line-height:34px">成績2(ウェイント昇給)</label><br><br>
            <label style="line-height:34px">成績2(ウェイント賞与)</label>
          </div>
          <div class="column">
            <input type="text" th:field="*{grade2_item}" name="grade2_item" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{grade2_evaluation_points}" name="grade2_evaluation_points" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{grade2_weight_salary_increase}" name="grade2_weight_salary_increase" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{grade2_weight_bonus}" name="grade2_weight_bonus" class="txtbox" style="margin-left:50px;"><br><br>
          </div>
        </div>
      </div>
    </div><br><br>

    <div class="row">
      <div class="column" style="margin-left: 50px;">
        <div class="row">
          <div class="column">
            <label style="line-height:34px">成績3(項目)</label><br><br>
            <label style="line-height:34px">成績3(評価の着眼点)</label><br><br>
            <label style="line-height:34px">成績3(ウェイント昇給)</label><br><br>
            <label style="line-height:34px">成績3(ウェイント賞与)</label>
          </div>
          <div class="column">
            <input type="text" th:field="*{grade3_item}" name="grade3_item" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{grade3_evaluation_points}" name="grade3_evaluation_points" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{grade3_weight_salary_increase}" name="grade3_weight_salary_increase" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{grade3_weight_bonus}" name="grade3_weight_bonus" class="txtbox" style="margin-left:50px;"><br><br>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="row">
          <div class="column" style="margin-left:120px">
            <label style="line-height:34px">成績4(項目)</label><br><br>
            <label style="line-height:34px">成績4(評価の着眼点)</label><br><br>
            <label style="line-height:34px">成績4(ウェイント昇給)</label><br><br>
            <label style="line-height:34px">成績4(ウェイント賞与)</label>
          </div>
          <div class="column">
            <input type="text" th:field="*{grade4_item}" name="grade4_item" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{grade4_evaluation_points}" name="grade4_evaluation_points" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{grade4_weight_salary_increase}" name="grade4_weight_salary_increase" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{grade4_weight_bonus}" name="grade4_weight_bonus" class="txtbox" style="margin-left:50px;"><br><br>
          </div>
        </div>
      </div>
    </div> <br><br>

    <div class="row">
      <div class="column">
        <div class="row">
          <div class="column" style="margin-left:50px">
            <label style="line-height:34px">成績5(項目)</label><br><br>
            <label style="line-height:34px">成績5(評価の着眼点)</label><br><br>
            <label style="line-height:34px">成績5(ウェイント昇給)</label><br><br>
            <label style="line-height:34px">成績5(ウェイント賞与)</label>
          </div>
          <div class="column">
            <input type="text" th:field="*{grade5_item}" name="grade5_item" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{grade5_evaluation_points}" name="grade5_evaluation_points" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{grade5_weight_salary_increase}" name="grade5_weight_salary_increase" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{grade5_weight_bonus}" name="grade5_weight_bonus" class="txtbox" style="margin-left:50px;"><br><br>
          </div>
        </div>
      </div>
    </div><br><br>


    <!--ability-->
    <h5 style="font-family: Arial, sans-serif;font-size: 18px;height:10px;margin-left: 50px;color:red">能力</h5>
    <div class="row">
      <div class="column" style="margin-left: 50px;">
        <div class="row">
          <div class="column">
            <label style="line-height:34px">成績１(項目)</label><br><br>
            <label style="line-height:34px">成績１(評価の着眼点)</label><br><br>
            <label style="line-height:34px">成績１(ウェイント昇給)</label><br><br>
            <label style="line-height:34px">成績１(ウェイント賞与)</label>
          </div>
          <div class="column">
            <input type="text" th:field="*{ability1_item}" name="ability1_item" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{ability1_evaluation_points}" name="ability1_evaluation_points" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{ability1_weight_salary_increase}" name="ability1_weight_salary_increase" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{ability1_weight_bonus}" name="ability1_weight_bonus" class="txtbox" style="margin-left:50px;"><br><br>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="row">
          <div class="column" style="margin-left:120px">
            <label style="line-height:34px">成績2(項目)</label><br><br>
            <label style="line-height:34px">成績2(評価の着眼点)</label><br><br>
            <label style="line-height:34px">成績2(ウェイント昇給)</label><br><br>
            <label style="line-height:34px">成績2(ウェイント賞与)</label>
          </div>
          <div class="column">
            <input type="text" th:field="*{ability2_item}" name="ability2_item" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{ability2_evaluation_points}" name="ability2_evaluation_points" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{ability2_weight_salary_increase}" name="ability2_weight_salary_increase" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{ability2_weight_bonus}" name="ability2_weight_bonus" class="txtbox" style="margin-left:50px;"><br><br>
          </div>
        </div>
      </div>
    </div><br><br>

    <div class="row">
      <div class="column" style="margin-left: 50px;">
        <div class="row">
          <div class="column">
            <label style="line-height:34px">成績3(項目)</label><br><br>
            <label style="line-height:34px">成績3(評価の着眼点)</label><br><br>
            <label style="line-height:34px">成績3(ウェイント昇給)</label><br><br>
            <label style="line-height:34px">成績3(ウェイント賞与)</label>
          </div>
          <div class="column">
            <input type="text" th:field="*{ability3_item}" name="ability3_item" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{ability3_evaluation_points}" name="ability3_evaluation_points" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{ability3_weight_salary_increase}" name="ability3_weight_salary_increase" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{ability3_weight_bonus}" name="ability3_weight_bonus" class="txtbox" style="margin-left:50px;"><br><br>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="row">
          <div class="column" style="margin-left:120px">
            <label style="line-height:34px">成績4(項目)</label><br><br>
            <label style="line-height:34px">成績4(評価の着眼点)</label><br><br>
            <label style="line-height:34px">成績4(ウェイント昇給)</label><br><br>
            <label style="line-height:34px">成績4(ウェイント賞与)</label>
          </div>
          <div class="column">
            <input type="text" th:field="*{ability4_item}" name="ability4_item" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{ability4_evaluation_points}" name="ability4_evaluation_points" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{ability4_weight_salary_increase}" name="ability4_weight_salary_increase" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{ability4_weight_bonus}" name="ability4_weight_bonus" class="txtbox" style="margin-left:50px;"><br><br>
          </div>
        </div>
      </div>
    </div><br><br>

    <!--approach-->
    <h5 style="font-family: Arial, sans-serif;font-size: 18px;height:10px;margin-left: 50px;color:red">取組み姿勢</h5>
    <div class="row">
      <div class="column" style="margin-left: 50px;">
        <div class="row">
          <div class="column">
            <label style="line-height:34px">取組み姿勢1（項目）</label><br><br>
            <label style="line-height:34px">取組み姿勢1（評価の着眼点）</label><br><br>
            <label style="line-height:34px">取組み姿勢1（ウェイト昇給）</label><br><br>
            <label style="line-height:34px">取組み姿勢1（ウェイト賞与）</label>
          </div>
          <div class="column">
            <input type="text" th:field="*{approach_attitude1_item}" name="approach_attitude1_item" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{approach_attitude1_evaluation_points}" name="approach_attitude1_evaluation_points" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{approach_attitude1_weight_salary_increase}" name="approach_attitude1_weight_salary_increase" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{approach_attitude1_weight_bonus}" name="approach_attitude1_weight_bonus" class="txtbox" style="margin-left:50px;"><br><br>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="row">
          <div class="column" style="margin-left:120px">
            <label style="line-height:34px">取組み姿勢2（項目）</label><br><br>
            <label style="line-height:34px">取組み姿勢2（評価の着眼点）</label><br><br>
            <label style="line-height:34px">取組み姿勢2（ウェイト昇給）</label><br><br>
            <label style="line-height:34px">取組み姿勢2（ウェイト賞与）</label>
          </div>
          <div class="column">
            <input type="text" th:field="*{approach_attitude2_item}" name="approach_attitude2_item" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{approach_attitude2_evaluation_points}" name="approach_attitude2_evaluation_points" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{approach_attitude2_weight_salary_increase}" name="approach_attitude2_weight_salary_increase" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{approach_attitude2_weight_bonus}" name="approach_attitude2_weight_bonus" class="txtbox" style="margin-left:50px;"><br><br>
          </div>
        </div>
      </div>
    </div><br><br>

    <div class="row">
      <div class="column" style="margin-left: 50px;">
        <div class="row">
          <div class="column">
            <label style="line-height:34px">取組み姿勢3（項目）</label><br><br>
            <label style="line-height:34px">取組み姿勢3（評価の着眼点）</label><br><br>
            <label style="line-height:34px">取組み姿勢3（ウェイト昇給）</label><br><br>
            <label style="line-height:34px">取組み姿勢3（ウェイト賞与）</label>
          </div>
          <div class="column">
            <input type="text" th:field="*{approach_attitude3_item}" name="approach_attitude3_item" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{approach_attitude3_evaluation_points}" name="approach_attitude3_evaluation_points" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{approach_attitude3_weight_salary_increase}" name="approach_attitude3_weight_salary_increase" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{approach_attitude3_weight_bonus}" name="approach_attitude3_weight_bonus" class="txtbox" style="margin-left:50px;"><br><br>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="row">
          <div class="column" style="margin-left:120px">
            <label style="line-height:34px">取組み姿勢4（項目）</label><br><br>
            <label style="line-height:34px">取組み姿勢4（評価の着眼点）</label><br><br>
            <label style="line-height:34px">取組み姿勢4（ウェイト昇給）</label><br><br>
            <label style="line-height:34px">取組み姿勢4（ウェイト賞与）</label>
          </div>
          <div class="column">
            <input type="text" th:field="*{approach_attitude4_item}" name="approach_attitude4_item" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{approach_attitude4_evaluation_points}" name="approach_attitude4_evaluation_points" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{approach_attitude4_weight_salary_increase}" name="approach_attitude4_weight_salary_increase" class="txtbox" style="margin-left:50px;"><br><br>
            <input type="text" th:field="*{approach_attitude4_weight_bonus}" name="approach_attitude4_weight_bonus" class="txtbox" style="margin-left:50px;"><br><br>
          </div>
        </div>
      </div>
    </div><br>

    <!--buttons-->
    <input type="submit" value="登録ボタン" name="btn_login" id="btn_reg" style="margin-left:35%">


  </form>


  <a th:each="allGradeList : ${editGrade}" th:href="@{/deleteGrade/{grade_id}(grade_id=${allGradeList.grade_id})}">
  <input type="submit" value="登録ボタン" name="btn_delete" id="btn_delete" style="margin-left:35%">
  </a>

</div>




</body>
</html>
