<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>Main Page Screen</title>
	<style>
		table,
		th,
		td {
			width: 90%;
			border: 1px solid #000;
			border-collapse: collapse;
			text-align: center;
		}
	</style>
</head>

<body>
<div id="main">
	<div style="padding: 10px;">
		<div style="text-align: right;">
			<button style="background-color: blue;font-size: 20px;">ログアウト</button>
		</div>
		<div style="text-align: center;">
			<h1 style="font-size: 30px;">人事考課システム</h1>
			<a style="font-size: 25px;">過去評価一覧を参照する</a>
			<button id="showAdminData"  style="background-color: blue;font-size: 15px;margin-left: 300px;">hide and
				show</button>
		</div>
	</div>
	<div style="padding: 10px; margin-left: 50px; margin-right: 50px;">
		<div class="row" id="forAdmin" hidden>
			<div class="column">
				<h1 style="font-size: 20px; margin-left: 20px; color: black;">
					自己評価</h1>
			</div>
			<div class="tableFixHead" style="margin-left: 100px;">
				<table style="margin-left: 10px; margin-right: 10px; margin-top:10px;width: 50%;">

					<button id="showData"
							style="background-color: blue;font-size: 15px;margin-left: 300px;">考課状況</button>
					<tbody>
					<tr>
						<td style="width:5px; height:30px;">（不要、未入力、入力済）</td>
						<td style="width:5px; height:30px;">一次、二次....</td>
					</tr>
					</tbody>
				</table><br><br>
			</div>
		</div>
		<div class="row" id="forShow">
			<div class="column">
				<h1 style="font-size: 20px; margin-left: 20px; color: black;">
					評価</h1>
			</div>
			<div class="tableFixHead" style="margin-left: 100px;">
				<table style="margin-left: 10px; margin-right: 10px; margin-top:10px;">

					<thead>
					<tr>
						<th style="width:10px; height:30px;">考課種類</th>
						<th style="width:10px; height:30px;">部署</th>
						<th style="width:10px; height:30px;">職務</th>
						<th style="width:10px; height:30px;">等級</th>
						<th style="width:10px; height:30px;">名前</th>
						<th style="width:10px; height:30px;">状況</th>
						<th style="width:10px; height:30px;">昇給</th>
						<th style="width:10px; height:30px;">賞与</th>
						<th style="width:10px; height:30px;"></th>

					</tr>
					</thead>
					<tbody>

					<tr th:each="mainPageData : ${mainPageData}">
						<td th:each="mainData : ${mainData}" th:text="${mainData}" style="width:10px; height:30px;"></td>
						<td th:text="${mainPageData.belong}" style="width:10px; height:30px;"></td>
						<td th:text="${mainPageData.officer}" style="width:10px; height:30px;"></td>
						<td th:text="${mainPageData.grade}" style="width:10px; height:30px;"></td>
						<td th:text="${mainPageData.name}" style="width:10px; height:30px;color: red;"></td>
						<td th:text="${mainPageData.evaluation_status}" style="width:10px; height:30px;"></td>
						<td th:text="${mainPageData.secondary_evaluation_rank_bonus}" style="width:10px; height:30px;"></td>
						<td th:text="${mainPageData.primary_evaluation_rank_bonus}" style="width:10px; height:30px;"></td>
						<td style="width:10px; height:30px;color: red;">評価</td>

					</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
<script th:inline="javascript">
	const targetAdminDiv = document.getElementById("forAdmin");
	const targetShowDiv = document.getElementById("forShow");
	const btnAdmin = document.getElementById("showAdminData");
	const btnData = document.getElementById("showData");
	const btnR = document.getElementById("btnResult");


	btnAdmin.onclick = function () {
		if (targetAdminDiv.style.display !== "none") {
			targetAdminDiv.style.display = "none";
			btnR.style.display = "none";
		} else {
			targetAdminDiv.style.display = "block";
		}
	};
	btnData.onclick = function () {
		if (targetShowDiv.style.display !== "none") {
			targetShowDiv.style.display = "none";
			btnR.style.display = "none";
		} else {
			targetShowDiv.style.display = "block";
			btnR.style.display = "block";
		}
	};


</script>

</html>